body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(0, 102, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u650 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(204, 204, 204, 0.898039215686275);
}
#u651 {
  position:absolute;
  left:278px;
  top:40px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(204, 204, 204, 0.898039215686275);
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u653 {
  position:absolute;
  left:334px;
  top:38px;
  width:29px;
  height:28px;
}
#u654 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:495px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u655 {
  position:absolute;
  left:1px;
  top:152px;
  width:373px;
  height:495px;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u656 {
  position:absolute;
  left:2px;
  top:240px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:26px;
}
#u658 {
  position:absolute;
  left:21px;
  top:42px;
  width:18px;
  height:26px;
  color:#CCCCCC;
}
#u658_img.selected {
}
#u658.selected {
}
#u659 {
  position:absolute;
  left:2px;
  top:5px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u660 {
  position:absolute;
  left:42px;
  top:43px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u660_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u660.selected {
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u662 {
  position:absolute;
  left:8px;
  top:38px;
  width:95px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u663 {
  position:absolute;
  left:142px;
  top:38px;
  width:93px;
  height:40px;
}
#u664 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665 {
  position:absolute;
  left:258px;
  top:446px;
}
#u665_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u665_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u665_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u665_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u666 {
  position:absolute;
  left:0px;
  top:36px;
  width:107px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u667 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u668 {
  position:absolute;
  left:0px;
  top:72px;
  width:107px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u669 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  position:absolute;
  left:1px;
  top:73px;
  width:3px;
  height:34px;
}
#u670_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670.selected {
}
#u671 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672 {
  position:absolute;
  left:1px;
  top:37px;
  width:3px;
  height:34px;
}
#u672_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672.selected {
}
#u673 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u675 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u676 {
  position:absolute;
  left:0px;
  top:108px;
  width:107px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u677 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u678 {
  position:absolute;
  left:1px;
  top:1px;
  width:3px;
  height:34px;
}
#u678_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u678.selected {
}
#u679 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  position:absolute;
  left:1px;
  top:109px;
  width:3px;
  height:34px;
}
#u680_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680.selected {
}
#u681 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682 {
  position:absolute;
  left:133px;
  top:482px;
}
#u682_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u682_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u682_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u682_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u683 {
  position:absolute;
  left:0px;
  top:36px;
  width:107px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u684 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u685 {
  position:absolute;
  left:0px;
  top:72px;
  width:107px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u686 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687 {
  position:absolute;
  left:1px;
  top:73px;
  width:3px;
  height:34px;
}
#u687_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687.selected {
}
#u688 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  position:absolute;
  left:1px;
  top:37px;
  width:3px;
  height:34px;
}
#u689_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689.selected {
}
#u690 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691 {
  position:absolute;
  left:8px;
  top:482px;
}
#u691_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u691_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u691_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u691_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u693 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u694 {
  position:absolute;
  left:0px;
  top:36px;
  width:107px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u695 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u696 {
  position:absolute;
  left:0px;
  top:72px;
  width:107px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u697 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u698 {
  position:absolute;
  left:1px;
  top:73px;
  width:3px;
  height:34px;
}
#u698_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u698.selected {
}
#u699 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u700 {
  position:absolute;
  left:1px;
  top:1px;
  width:3px;
  height:34px;
}
#u700_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u700.selected {
}
#u701 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702 {
  position:absolute;
  left:1px;
  top:37px;
  width:3px;
  height:34px;
}
#u702_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702.selected {
}
#u703 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u704 {
  position:absolute;
  left:1px;
  top:100px;
  width:373px;
  height:50px;
}
#u705 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:38px;
}
#u706 {
  position:absolute;
  left:6px;
  top:106px;
  width:103px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(0, 51, 102, 0.698039215686274);
}
#u706_img.selected {
  width:105px;
  height:40px;
}
#u706.selected {
}
#u707 {
  position:absolute;
  left:2px;
  top:9px;
  width:99px;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u708 {
  position:absolute;
  left:119px;
  top:175px;
  width:53px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u710 {
  position:absolute;
  left:254px;
  top:175px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u712 {
  position:absolute;
  left:119px;
  top:209px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u714 {
  position:absolute;
  left:222px;
  top:327px;
  width:42px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u716 {
  position:absolute;
  left:36px;
  top:369px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u718 {
  position:absolute;
  left:36px;
  top:330px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u720 {
  position:absolute;
  left:36px;
  top:289px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
}
#u722 {
  position:absolute;
  left:163px;
  top:172px;
  width:73px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u723 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:25px;
}
#u724 {
  position:absolute;
  left:115px;
  top:243px;
  width:245px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u725 {
  position:absolute;
  left:2px;
  top:2px;
  width:241px;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
}
#u726 {
  position:absolute;
  left:298px;
  top:172px;
  width:62px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u727 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u728 {
  position:absolute;
  left:115px;
  top:327px;
  width:90px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u729 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u730 {
  position:absolute;
  left:114px;
  top:287px;
  width:120px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u731 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u732 {
  position:absolute;
  left:241px;
  top:287px;
  width:120px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u733 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u734 {
  position:absolute;
  left:115px;
  top:367px;
  width:90px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u735 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
}
#u736 {
  position:absolute;
  left:218px;
  top:367px;
  width:142px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u737 {
  position:absolute;
  left:2px;
  top:2px;
  width:138px;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u738 {
  position:absolute;
  left:270px;
  top:326px;
  width:90px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u739 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:117px;
}
#u740 {
  position:absolute;
  left:3px;
  top:157px;
  width:102px;
  height:117px;
  opacity:0.8;
}
#u741 {
  position:absolute;
  left:2px;
  top:50px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u742 {
  position:absolute;
  left:36px;
  top:405px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 51, 102, 0.498039215686275);
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:139px;
}
#u744 {
  position:absolute;
  left:115px;
  top:405px;
  width:243px;
  height:139px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:rgba(0, 51, 102, 0.498039215686275);
  text-align:left;
}
#u745 {
  position:absolute;
  left:2px;
  top:2px;
  width:239px;
  word-wrap:break-word;
}
